# アプリケーション設定
NODE_ENV=dev
PORT=8080

# データベース設定
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/local_dev?schema=public

# セキュリティ設定
JWT_SECRET=dev-secret-key-123

# CORS設定
CORS_ORIGIN=*

# ログ設定
LOG_LEVEL=debug